<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <script src="~/Script/jquery/jquery-1.9.1.js"></script>
    <script src="~/Script/jquery/jquery.form.js"></script>
    <script src="~/Script/jeasyui/jquery.easyui.min.js"></script>
    <script src="~/Script/jeasyui/locale/easyui-lang-zh_CN.js"></script>
    <script>
        function submit()
        {
            var myForm = document.createElement('form');
            myForm.id = 'submitForm';
            myForm.style = "visibility:hidden;"
            document.body.appendChild(myForm);
            $("#submitForm").form('submit', {
                url: 'main/submit', method: 'post',
                onSubmit: function (param)
                {
                    param.dep = $("#dep").val();
                },
                success: function (data) {
                    if (data == $("#dep").val()) {
                        alert("submit value:" + data + " success! ");
                    }
                    else {
                        alert("submit value:" + data + " failed! ");
                    }
                }
            });
            document.body.removeChild(myForm);
        }
    </script>

</head>
<body>
    <div>
        @Html.Action("Partial", "Partial")
    </div>
    <div>
        <button id="submitBtn" onclick="submit()">提交</button>
    </div>
</body>
</html>
